#topmenu {
	background-color: grey;
	
	
}
nav {
	background-color: grey;
}
#htmltut {
	color: red;
}
li
{
	list-style-type: none;
	background-color: #A0A0A0;
	list-style-position: inline;
	display: inline-block;
	margin: 1em;
	padding: 0.2em;
	border: 0.1em;
	border-color: black;
	
}
a
{
	text-decoration: none;
	color: black;
}
body {
	background-color: lightgrey;
}
aside
{
	position: right;
	margin: 0.8em;
	padding: 0.8em;
	float: right;
	background-color: #500000;
}
#endfooter {
	position: fixed;
	bottom: 0;
	margin: 0.5em;
	background-color: #B8B8B8;
}
#links
{
	background-color: darkgrey;
	margin-left: 0.1em;
	margin-bottom: 0.1em;
	float: left;
	padding: 0.3em;
	position: fixed;
	height: 100%;
	width: 4%;
	
} 
#mid 
{
	margin-left: 5em;
	
} 