/* Dit is een css document */


p
{
	font-size: 19px;
	font-family: Times-new-roman, arial;
	font-style: italic;
	color: grey;
	
}

a 
{
	color: black;
	
}
#topheadertje
{
	color:blue;
	
}
h1 
{
	color: grey;
	
}
.list
{
	display: inline;
	list-style: none;
	
} 
.listitem
{
	color: light-grey;
	padding: 2px;
} 

	